.calculator-wrapper {
  background-color: #fff;
  width: 400px;
  min-width: 320px;
  max-width: 800px;
  padding: 4px;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 200px;
  display: none;
  user-select: none;
}

.open {
  display: block;
}

.resize {
  position: absolute;
  height: 100%;
  width: 4px;
  right: 0;
  top: 0;
  cursor: ew-resize;
}

/* 상단 타이틀바 */
.cal-titlebar {
  background-color: #000;
  border: 4px solid #000;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  color: #fff;
  cursor: grab;
}

.cal-titlebar:active {
  cursor: grabbing;
}

.cal-titlebar__title {
  font-size: 1.25rem;
  margin-left: 8px;
  user-select: none;
}

.titlebar__control-buttons button {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
}

.titlebar__control-buttons button:first-child {
  border-bottom: 2px solid #fff;
}

.titlebar__control-buttons button:first-child:hover {
  background-color: blue;
}

.titlebar__control-buttons button:last-child:hover {
  background-color: red;
}


/* 네비게이션 */
.calculator__nav {
  height: 32px;
}

.calculator__nav ul {
  height: 100%;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
}

.calculator__nav ul>li {
  padding: 0 8px;
  font-size: 1.25rem;
  cursor: pointer;
}

.calculator__nav ul>li:hover {
  background-color: blue;
  color: #fff;
}


/* 계산기 */
.calculator-content {
  padding: 8px;
  height: 440px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  background-image: url('../imgs/background.avif');
  background-size: 50px;
  gap: 8px;
}

.calculator-content__main {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

/* 디스플레이 */
.display {
  border: 4px solid #000;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 8px;
  text-align: end;
  font-size: 1.75rem;
  text-wrap: nowrap;
}


/* 버튼 */
.buttons {
  flex: 1;
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.button {
  border: 4px solid #000;
  background-color: #fff;
  box-shadow: 2px 2px 0 #555;
  font-size: 1.75rem;
  cursor: pointer;
}

.button.equel {
  grid-column: 4;
  grid-row: 4 / span 2;
}

.button:hover {
  background-color: #d4d4d4;
}

.button:active {
  box-shadow: inset 2px 2px 0 #555;
  background-color: #929292;
}


/* 히스토리 */
.calculator-content__history {
  width: 65%;
  height: 100%;
  background-color: #ffffffc4;
  border: 4px solid #000;
  display: none;
  text-align: end;
}

.history {
  padding: 4px 8px 0;
  height: calc(100% - 32px);
  overflow: scroll;
}

.operation {
  font-size: 1.125rem;
}

.result {
  font-size: 1.625rem;
  margin-bottom: 8px;
}

.history-clear {
  padding: 0 8px 4px;
  height: 32px;
  cursor: pointer;
}

.history-clear>svg {
  width: 24px;
}

.history::-webkit-scrollbar {
  width: 4px;
}

.history::-webkit-scrollbar-thumb {
  background-color: #000;
}

/* 최소화 탭 */
.minimize {
  background-image: url('../imgs/dot.jpg');
  background-size: 200px;
  width: 132px;
  height: 40px;
  padding: 4px 16px;
  border: 3px solid #fff;
  position: fixed;
  bottom: -8px;
  left: 16px;
  display: none;
  cursor: pointer;
}

.minimize:hover {
  background-image: none;
  background-color: blue;
}

.minimize>p {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  user-select: none;
}

.minimize__side {
  width: 12px;
  height: 12px;
  background-color: #000;
  position: absolute;
  top: -7px;
}

.minimize__side.left {
  left: -6px;
  transform: rotate(45deg);
  border-right: 3px solid #fff;
}

.minimize__side.right {
  right: -6px;
  transform: rotate(45deg);
  border-bottom: 3px solid #fff;
}

.minimize-active {
  display: block;
}