header {
  justify-content: space-between;
  font-size: 1.5rem;
  padding-right: 16px;
  background-color: #fff;
  user-select: none;
}

header>ul>li {
  padding: 0 16px;
  cursor: pointer;
}

header>ul>li:hover {
  background-color: blue;
  color: #fff;
  text-decoration: underline;
}